{% extends "base.html" %} {% block main %}

<script>
    $(function() {
        var vm = new Vue({
            el: '#pet-list',
            data: {
                pets: []
            },
            methods: {
                deletePet: function(id) {
                    var that = this;
                    // AJAX提交JSON:
                    $.ajax({
                        type: 'delete',
                        dataType: 'json',
                        url: '/api/pets/' + id
                    }).done(function(r) {
                        console.log(r);
                        var i;
                        for (i = 0; i < that.pets.length; i++) {
                            if (that.pets[i].id === r.id) {
                                that.pets.splice(i, 1);
                                return;
                            }
                        }
                    }).fail(function(jqXHR, textStatus) {
                        // Not 200:
                        alert('Error: ' + jqXHR.status);
                    });
                }
            }
        });
        $.getJSON('/api/pets').done(function(data) {
            vm.pets = data.pets;
        }).fail(function(jqXHR, textStatus) {
            alert('Error: ' + jqXHR.status);
        });
        $('#pet-form').submit(function(e) {
            e.preventDefault();
            var
                pet = {
                    name: $(this).find('input[name=name]').val(),
                    gender: $(this).find('input[name=gender]').val(),
                    birth: $(this).find('input[name=birth]').val()
                };
            // AJAX提交JSON:
            $.ajax({
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                url: '/api/pets',
                data: JSON.stringify(pet)
            }).done(function(r) {
                vm.pets.push(r);
            }).fail(function(jqXHR, textStatus) {
                // Not 200:
                alert('Error: ' + jqXHR.status);
            });
        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> Pets</h3>
                </div>
                <div class="panel-body">
                    <table id="pet-list" class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width:50px"></th>
                                <th>Pet</th>
                                <th style="width:150px">Birth</th>
                                <th style="width:50px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="p in pets">
                                <td>
                                    <img class="media-object" style="width:40px; height:40px;" src="/static/images/1.png">
                                </td>
                                <td>
                                    <h4 class="media-heading" v-text="p.name"></h4>
                                    <p><span v-text="p.gender"></span> <span><a v-on:click="deletePet(p.id)" href="#0">delete</a></span></p>
                                </td>
                                <td>
                                    <p style="font-size:1em"><span v-text="p.birth"></span></p>
                                </td>
                                <td><a target="_blank" v-bind:href="'http://search.jd.com/Search?enc=utf-8&keyword=' + encodeURIComponent(p.name)">Buy</a>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Create New Pet</h3>
                </div>
                <div class="panel-body">
                    <form id="pet-form">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Pet name" value="">
                            <p class="help-block">Pet name</p>
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <input type="text" name="gender" class="form-control" placeholder="Gender" value="">
                            <p class="help-block">Gender</p>
                        </div>
                        <div class="form-group">
                            <label>Birth</label>
                            <input type="text" name="birth" class="form-control" placeholder="Pet birth" value="">
                            <p class="help-block">Pet birth</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Get more courses...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">JavaScript</h3>
                </div>
                <div class="panel-body">
                    <p>full-stack JavaScript course</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Python</h3>
                </div>
                <div class="panel-body">
                    <p>the latest Python course</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">git</h3>
                </div>
                <div class="panel-body">
                    <p>A course about git version control</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}